* {
    margin: 0px;
    padding: 0px;
    /* border: solid 1px red */
}

body {
    padding-top: 100px; /* Ajusta este valor según la altura de tu navbar */
}

.status-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.navbar {
    background-color: #ffffff !important;
    opacity: 1 !important; 
  }
  
@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #ffffff !important;
    border: 2px solid #000 !important;  /* Cambia el color y grosor del borde según prefieras */
    border-radius: 5px !important;        /* Redondea las esquinas del borde */
    padding: 10px !important;             /* Agrega un poco de espacio interior */
    }
  }