* {
    margin:   0px;
    padding:  0px;
    /* border:   solid 1px red */
}

body {
    padding-top: 100px;
}

.navbar {
  background-color: #ffffff !important;
  opacity:          1 !important; 
}

.navbar-collapse {
  background-color: #ffffff !important;
}

.navbar-nav .nav-item,
.btn {
    display: flex;
    align-items: center;
    height: 100%;
}


.custom-btn-5 {
  height:        calc(2.25rem + 5px);
  padding-left:  calc(0.75rem + 5px);
  padding-right: calc(0.75rem + 5px);
}

.status-indicator {
  display:       inline-block;
  width:         20px;
  height:        20px;
  border-radius: 50%
}

@media (max-width: 767px) {

  .navbar-collapse {
    background-color: #ffffff !important;
    border:            2px solid #000 !important;
    border-radius:     5px !important;
    padding-top:      10px !important;
    padding-bottom:   20px !important;
    margin-left:       0px !important;
  }
  
   .custom-btn-5 {
    height:        calc(2.25rem + 5px);
    padding-left:  calc(0.75rem + 0px);
    padding-right: calc(0.75rem + 0px);
  }
}


